<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="mexBehavior" name="WCFBasicFunctionality.SampleService">
        <endpoint address="SampleService" binding="wsHttpBinding" contract="WCFBasicFunctionality.ISampleService"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:52484"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
